@charset "utf-8";
/* CSS Document */
body{
    background-color:black; 
    font-family: sans-serif;
}

header{
    
    .logo{
    background-color:white;
    height: 130px;
    padding-top: 10px;
    }
    
    .buscacarrito{
    background-color:white;
    height: 130px;
    padding-top: 35px;
        
        .buscador{
             #btn-buscar{
            font-size: 25px;
            } 
        }         

        .carrito{
        float: right;
            #btn-shopping{
            font-size: 25px;
            }   
        }
    }    
}


 #menu{
    background-color:black;
    text-align: center;
    padding-top: 10px;
    position: relative;
    height: 55px;
     
        ul{
        background-color:black;
        text-align: center;
        list-style: none;
        font-size: 20px;
        margin-bottom: 5px; 
        display: inline-block;
            
                li{
                float: left;
                margin-right: 10px;
                border-right: 2px solid brown;
                padding-right: 10px;
                                            
                    &:last-child{
                    border-right: 0px;
                    }
                        
                    a{          
                    color:white;
                        
                        &:hover{ 
                        color:blue;
                        text-decoration: none;
                        }
                    }
                }
        }
}


$background-container:white;
$background-prod:white;
h3{
    font:{
         size:25px;
         weight:bold;
        } 
    color:darkblue;
}

h4{
    font:{
         size:18px;
        } 
    color:darkblue;
}

h5{
    font:{
         size:25px;
         weight:bold;
        } 
    color:darkslategrey;
}

#recomendaciones{
    .container{/*NO SE DEBE DE MODIFICAR CONTAINER CREAR UNA CLASE PARA HACER ESO*/
    background-color: $background-container;
        
        .produind{
        background-color:$background-prod;
        padding-top: 10px;
        padding-bottom: 10px;
        border-right: 4px solid lightgray;
            
             &:last-child{
                    border-right: 0px;
            }
            
            .img-pro{
                width: 250px;
                height: 250px;
                margin-bottom: 10px;
            }
            
            .pronombre{
                font-size: 16px;
                margin-bottom: 6px;
            }
            .precio{
                color:red;
                font-size: 14px;
                }
        }
    }
}

#ofertas{
         .container{/*NO SE DEBE DE MODIFICAR CONTAINER CREAR UNA CLASE PARA HACER ESO*/
            background-color: $background-container;
            border-top: 4px solid lightgray;
             
        .produind{
        background-color:$background-prod;
        padding-top: 10px;
        padding-bottom: 10px;
        border-right: 4px solid lightgray;
            
             &:last-child{
                    border-right: 0px;
            }
            
            .img-pro{
                width: 250px;
                height: 250px;
                margin-bottom: 10px;
            }
            
            .pronombre{
                font-size: 16px;
                margin-bottom: 6px;
            }
            .precio{
                color:red;
                font-size: 14px;
                }
        }
    }
}

#novedades{
         .container{/*NO SE DEBE DE MODIFICAR CONTAINER CREAR UNA CLASE PARA HACER ESO*/
            background-color: $background-container;
            border-top: 4px solid lightgray;
             
        .produind{
        background-color:$background-prod;
        padding-top: 10px;
        padding-bottom: 10px;
        border-right: 4px solid lightgray;
            
             &:last-child{
                    border-right: 0px;
            }
            
            .img-pro{
                width: 250px;
                height: 250px;
                margin-bottom: 10px;
            }
            
            .pronombre{
                font-size: 16px;
                margin-bottom: 6px;
            }
            .precio{
                color:red;
                font-size: 14px;
                }
        }
    }
}


footer{
    .container{
    background-color:lightgray;
    color: darkblue;
    margin-bottom: 8px;
        
        .cont{
            h4{
                font:{
                    size:25px;
                }
            }
            
            p{
               font:{
                    size:20px;
                    weight:bold;
                } 
            }
        }
        
    }
}

#volver{
    .container{
    background-color: $background-container;
    
        #back{
        font-size: 18px;
        color: darkblue;
        } 
    }
}       


#productos{
    .container{/*NO SE DEBE DE MODIFICAR CONTAINER CREAR UNA CLASE PARA HACER ESO*/
    background-color: $background-container;
        
        .pro{
        background-color:$background-prod;
        padding-top: 10px;
        padding-bottom: 10px;
            
             &:last-child{
                    border-right: 0px;
            }
            
            .img-pro-full{
                width: 360px;
                height: 360px;
                margin-bottom: 10px;
            }
            
            .caracte{
                font-size: 14px;
                margin-bottom: 6px;
                
                ul{
                    li{
                        color:darkblue;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        
        .comprar{
            p{
                color: red;
                margin-top: 10px;
                font:{
                    size:25px;
                    weight:bold;
                } 
            }
            .compahora{
                background-color:darkblue;
                padding-top: 10px;
                padding-bottom: 10px;
                   a{          
                    color:white;
                       font:{
                          size:25px;
                          weight:bold;
                       }
                        
                        &:hover{ 
                        color:lightgray;
                        text-decoration: none;
                        }
                    }
            }            
        }
    }
}
  /***********************************************************************************************************/

/* Tablet */
@media screen and (max-width: 1024px) { 
  header{
     
    .buscacarrito{
    background-color:white;
    height: 130px;
    padding-top: 35px;
        
        .buscador{
            width: 230px;
             #btn-buscar{
            font-size: 20px;            
            } 
        }         

        .carrito{
            width: 120px;
            float: right;
            #btn-shopping{
            font-size: 20px;
            }   
        }
      }    
    }
    
    #recomendaciones{
    .container{
        
        .produind{
                        
            .img-pro{
                width: 90%;
                height: 90%;
                margin-bottom: 10px;
                }
            
           
            }
         }
    }
    
    #ofertas{
    .container{
        
        .produind{
                        
            .img-pro{
                width: 90%;
                height: 90%;
                margin-bottom: 10px;
                }
            
           
            }
         }
    }
    
    #novedades{
    .container{
        
        .produind{
                        
            .img-pro{
                width: 90%;
                height: 90%;
                margin-bottom: 10px;
                }
            
           
            }
         }
    }
    

}
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
@media screen and (max-width: 768px) {
    header{
    
    .logo{
    background-color:white;
    height: 100px;
    width: 250px;
    padding-top: 10px;
    }
      
    .buscacarrito{
    background-color:white;
    height: 100px;
    padding-top: 35px;
        
        .buscador{
            width: 240px;
             #btn-buscar{
            font-size: 20px;            
            } 
        }         

        .carrito{
            width: 120px;
            float: right;
            #btn-shopping{
            font-size: 20px;
            }   
        }
      }    
    }
    
 #menu{
    background-color:black;
    text-align: center;
    padding-top: 5px;
    position: relative;
    height: 55px;
     
        ul{
        background-color:black;
        text-align: center;
        list-style: none;
        font-size: 16px;
        margin-bottom: 5px; 
        display: inline-block;
            
                li{
                float: left;
                margin-right: 10px;
                border-right: 2px solid brown;
                padding-right: 10px;
                                            
                    &:last-child{
                    border-right: 0px;
                    }
                        
                    a{          
                    color:white;
                        
                        &:hover{ 
                        color:blue;
                        text-decoration: none;
                        }
                    }
                }
        }
}
   

    
    #recomendaciones{
    .container{
        
        .produind{
                 border-right: 0px ;
            
            .img-pro{
                width: 90%;
                height: 90%;
                margin-bottom: 10px;
                }         
           
            }
         }
    }
    
    #ofertas{
    .container{
        
        .produind{
                   border-right: 0px ;     
            .img-pro{
                width: 90%;
                height: 90%;
                margin-bottom: 10px;
                }
            
           
            }
         }
    }
    
    #novedades{
    .container{
        
        .produind{
                 border-right: 0px ;       
            .img-pro{
                width: 90%;
                height: 90%;
                margin-bottom: 10px;
                }
            
           
            }
         }
    }
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/* visuales en dispositivos */

/* ----------- iPhone ----------- */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
     
    header{
    
    .logo{
    background-color:white;
    height: 120px;
    width: 100%;
    padding-top: 10px;
    }
           
    .buscacarrito{
    background-color:white;
    height: 100px;
    padding-top: 35px;
        
        .buscador{
            width: 295px;
            margin-bottom: 5px;
             #btn-buscar{
            font-size: 20px;            
            } 
        }         

        .carrito{
            width: 295px;
            float: left;
            #btn-shopping{
            font-size: 20px;
            }   
        }
      }    
      }
      
    #menu{
    background-color:black;
    text-align: center;
    padding-top: 5px;
    position: relative;
    height: 45px;
     
        ul{
        background-color:black;
        text-align: center;
        list-style: none;
        font-size: 12px;
        margin-bottom: 5px; 
        display: inline-block;
            
                li{
                float: left;
                margin-right: 5px;
                border-right: 1px solid brown;
                padding-right: 5px;
                                            
                    &:last-child{
                    border-right: 0px;
                    }
                        
                    a{          
                    color:white;
                        
                        &:hover{ 
                        color:blue;
                        text-decoration: none;
                        }
                    }
                }
        }
      }
      
    #recomendaciones{
    .container{        
        .produind{
        border-right: 0px;
                
            .img-pro{
                width: 90%;
                height: 90%;
                margin-bottom: 10px;
                    }         
                }
          }
      }
      
      #ofertas{
    .container{        
        .produind{
        border-right: 0px;
                
            .img-pro{
                width: 90%;
                height: 90%;
                margin-bottom: 10px;
                    }         
                }
          }
      }
      
    #novedades{
    .container{        
        .produind{
        border-right: 0px;
                
            .img-pro{
                width: 90%;
                height: 90%;
                margin-bottom: 10px;
                    }         
                }
          }
      }
    #productos{
    .container{
             h5{
                font:{
                size:14px;
                    } 
                }
        .pro{
        background-color:$background-prod;
        padding-top: 5px;
        padding-bottom: 5px;
            
            
            .img-pro-full{
                width: 90%;
                height: 90%;
                margin-bottom: 5px;
                }
            
            .caracte{
                font-size: 12px;
                margin-bottom: 4px;
                
                ul{
                    li{
                        color:darkblue;
                        margin-bottom: 10px;
                        }
                    }
                }
            }
        
        }
            
      }  
      
      #volver{
        .container{
            padding-top: 10px;
          
            }
      } 

}

